#s1{
	text-align: center;
}
/*a:visited - um link que o usuario 
visitou   */
#s1 a:visited{
	color: white;
}
/*a:hover - um link quando o usuario 
passa o mouse sobre ele   */
#s1 a:hover{
	color: blue;
}
/*a:active - um link no momento 
que é clicado   */
#s1 a:active{
	color: black;
}
/*
a:link - um link normal e não visitado
background-color: - cor no realce da 
volta do link
padding: - define altura e largura 
da caixa na volta do link
text-decoration: none - para retirar 
o sublinhado do link
display: inline-block - para controlar 
o layout
border-radius - definir contorno 
no objeto
*/
#s1 a:link, a:visited{
	background-color: #f44336;
	padding: 14px 25px;
	text-decoration: none;
	display: inline-block;
	border-radius: 8px;
	width: 120px;
}
/*
a:hover - um link quando o usuário passa 
o mouse sobre ele
a:active - no momento que é clicado
*/
#s1 a:hover, a:active{
	background-color: green;
}
#s2 a:link{
	color: green;
}
#s2 a:visited{
	color: red;
}
#s2 a:hover{
	color: yellow;
}
#s2 a:active{
	color: blue;
}
